* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

p, h2 {
    margin: 0;
    padding: 0;
}

.wrapper_all {
    padding: 20px 15px;
}

/**
 * HEADER
 */

.header {
    padding-bottom: 10px;
    margin-bottom: 25px;

    border-bottom: 2px solid #aaa;
}

/**
 * CONTENT
 */

.content-col {
    margin-bottom: 25px;
}

.content-checkbox {
    top: 10px;
    left: 10px;
}

.content-title {
    min-width: 100px;
}

/**
 * TYPE SWITCHERS
 */

.content-display-none {
    display: none;
}